/* this is for the index landing page */
body {
    background-image: url(Images/Background\ 3.png);
    background-size: cover;
    color: aliceblue;
    margin: 0;
    padding: 0;
}

body, .topic, p {
    text-align: center;
    
}

.back {
    padding-top: 15px;
    text-align: left;
    color: white;
    padding-left: 30px;
}


.topic {
    padding-top: 200px;
}

.container {
    background-color: aliceblue;
    color: black;
    border-radius: 30px 30px 30px 30px;
    margin-top: 7%;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%
}

.form-group {
    position: relative;
    margin: 20px 0;
}


#Name {
    padding: 10px;
    border-radius: 70px;
    margin-bottom: 15px;
    border: 1px solid #d9d9d9;
}

#email {
    padding: 10px;
    border-radius: 70px;
    margin-bottom: 15px;
    border: 1px solid #d9d9d9;
}

#password {
    padding: 10px;
    border-radius: 70px;
    margin-bottom: 15px;
    border: 1px solid #d9d9d9;
}

#longsignup {
    background-color: #4873E0;
    border-radius: 15px;
    border: none;
    margin-bottom: 15px;
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    margin-top: 30px;
    width: 50%;
}

footer {
    padding-top: 200px;
}

button {
    background-color: #0000ff;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 35px;
    padding-left: 50px;
    padding-right: 45px;

}

.white {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 9%;
    border: none;
    background-color: rgba(157, 156, 214, 0);
}
a {
    text-decoration: none;
}
button:hover {
    cursor: pointer;
}

.blue {
    margin-left: 5%;
    background-color: white;
    color: blue;
    border-radius: 30px 1px;
    border: none;
}



/* this is for the welcome back page */
@media (max-width: 600px) {
    .back {
        padding-top: 30px;
    }

    .topic {
        text-align: center;
    }

    
    .container {
        background-color: rgb(255, 255, 255);
        margin-left: 0;
        margin-right: 0;
        padding-top: 10px;
        padding-bottom: 150px;
        margin-top: 142px;
    }

    .headerlin {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #Name {
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 70px;
        padding-right: 70px;
        margin-bottom: 20px;
        border: 1px solid #d9d9d9;
        border-radius: 13px;
    }

    #email {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 70px;
        padding-right: 70px;
        margin-bottom: 20px;
        border: 1px solid #d9d9d9;
        border-radius: 13px;
    }

    #password {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 70px;
        padding-right: 70px;
        margin-bottom: 20px;
        border: 1px solid #d9d9d9;
        border-radius: 13px;
    }

    #Name::placeholder {
        color: #d9d9d9;
        text-align: left;
    }

     #email::placeholder {
        color: rgba#d9d9d9;
        text-align: left;
    }

     #password::placeholder {
        color: rgba#d9d9d9;
        text-align: left;
    }

    .items {
        display: flex;
        align-items: center;
        gap: 5px
    }

    .items p {
        display: flex;
        text-align: right;
        color: blue;
        padding-left: 80px;
        text-decoration: underline;
    }

    footer {
        padding-top: 260px;
    }

    .blue {
        padding-left: 65px;
        margin-left: 35px;
    }

}